{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Carmen Sandiego </title>
  <link href="https://fonts.googleapis.com/css?family=Aldrich|Allerta+Stencil|Bangers|Barrio|Black+Ops+One|Bungee+Shade|Diplomata|Faster+One|Holtwood+One+SC|Monofett|New+Rocker|Pacifico|Press+Start+2P|Righteous|Sigmar+One" rel="stylesheet">
  <style>

    p {
      color: #FFF;
      font-family: 'Press Start 2P';
      text-align: center;


    }

    #sendMessageButton {
      font-family: 'Press Start 2P';
    }


    span {

      font-family: 'Press Start 2P';
    }



  </style>


</head>
<body style="background-color: #000;">
<div style="display: inline-block;" >


	<h1> Bem vindo!</h1>
	<div style="display: inline-block;" >
		<img  style="margin: 0; float: left;" src="{% static 'person/police.jpg' %}" width="60px" >
		<div style="margin:0; margin-left: 100px;">
			<p> Aaaah! Então você é o novato?! </p>
			<p> Eu ouvir muitas historias sobre você, {{ request.user.username }}. </p>
			<p> Vamos testar suas habilidades em campo, tenho um caso para você, mas vou logo avisando não vai ser fácil. </p>
			<p> Sua missão é capturar Carmen Sandiego.</p>
			<p> Ela é uma antiga espiã do Serviço de inteligência de Mônaco.</p>
			<p> Boa sorte, {{ request.user.username }}</p>
		</div>
	</div>
	<form action="{% url 'carmen:game' %}" method="post" >
      {% csrf_token %}
        <div class="form-group">
          <input type="hidden"  name="a" value="a" />
          <button type="submit"  class="btn btn-primary btn-xl  " id="sendMessageButton">Inicializar missão</button>
        </div>
	</form>
</div>
</div>
</body>
</html>