<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Carmen Sandiego </title>
	<link href="https://fonts.googleapis.com/css?family=Aldrich|Allerta+Stencil|Bangers|Barrio|Black+Ops+One|Bungee+Shade|Diplomata|Faster+One|Holtwood+One+SC|Monofett|New+Rocker|Pacifico|Press+Start+2P|Righteous|Sigmar+One" rel="stylesheet">
	<style>

		P {
			color: #FFF;
			font-family: 'Press Start 2P';

		}




		span {

			font-family: 'Press Start 2P'
		}


}



	</style>


</head>

<body style="background-color: #000;">




	<div style="display: inline-block; width: 100%;" >
		<div style="border: 2px double #FFF; float: left; padding: 20px; height: 100%; width: 95%;" >
			<div style="border: 2px double #FFF; margin-bottom: 10px">
				<h3 style="padding: 10px; color: #FFF; font-family: 'Press Start 2P'; text-align: center;"> Mapa Mundial </h3>
			</div>

			<img style="border: 2px double #FFF;" src="https://st2.depositphotos.com/5934840/11563/v/950/depositphotos_115637658-stockillustratie-wereldkaart-met-onderscheid-tussen-land.jpg" width="100%" height="610px" >
			<ul>

				<form action="{% url 'carmen:game' %}" method="post" >
      					{% csrf_token %}
        			<div class="form-group">
          			<input type="hidden"  name="a" value="a" />
					<button type="submit" style=" position:absolute; z-index:1;top:54%;left:75%;width:60px;height:30px;padding:0;margin:-15px 0 0 -30px;border:0 none;font-family: 'Press Start 2P';  color: #000; background: transparent;"><li>Pequim</li></button>
					</div>
					</form>


				<form action="{% url 'carmen:game' %}" method="post" >
      					{% csrf_token %}
        			<div class="form-group">
          			<input type="hidden"  name="b" value="b" />
					<button type="submit" style=" position:absolute; z-index:1;top:53%;left:53%;width:60px;height:30px;padding:0;margin:-15px 0 0 -30px;border:0 none;font-family: 'Press Start 2P';  color: #000; background: transparent;"><li>Paris</li></button>
					</div>
					</form>

					<form action="{% url 'carmen:game' %}" method="post" >
      					{% csrf_token %}
        			<div class="form-group">
          			<input type="hidden"  name="h" value="h" />
					<button type="submit" style=" position:absolute; z-index:1;top:50%;left:33%;width:60px;height:30px;padding:0;margin:-15px 0 0 -30px;border:0 none;font-family: 'Press Start 2P';  color: #000; background: transparent;"><li>Detroit</li></button>
					</div>
					</form>

				
					<form action="{% url 'carmen:game' %}" method="post" >
      					{% csrf_token %}
        			<div class="form-group">
          			<input type="hidden"  name="j" value="j" />
					<button type="submit" style=" position:absolute; z-index:1;top:57%;left:20%;width:60px;height:30px;padding:0;margin:-15px 0 0 -30px;border:0 none;font-family: 'Press Start 2P';  color: #000; background: transparent;">Cidade do México<span style="font-size: 20px" >.</span></button>
					</div>
					</form>

					<form action="{% url 'carmen:game' %}" method="post" >
      					{% csrf_token %}
        				<div class="form-group">
          				<input type="hidden"  name="d" value="d" />
						<button  type="submit" style=" position:absolute; z-index:1;top:77.5%;left:36%;height:30px;padding:0;margin:-15px 0 0 -30px;border:0 none;font-family: 'Press Start 2P';  color: #000; background: transparent;"><li>Buenos Aires</li></button>
					</div>
					</form>

				<form action="{% url 'carmen:game' %}" method="post" >
      					{% csrf_token %}
        			<div class="form-group">
          			<input type="hidden"  name="c" value="c" />
					<button type="submit" style=" position:absolute; z-index:1;top:66%;left:33%;width:60px;height:30px;padding:0;margin:-15px 0 0 -30px;border:0 none;font-family: 'Press Start 2P'; color: #000; background: transparent;"><li>Bogotá</li> </button>
				</div>
				</form>


		</div>

	</div>

</body>
</html>
