<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Carmen Sandiego </title>
	<link href="https://fonts.googleapis.com/css?family=Aldrich|Allerta+Stencil|Bangers|Barrio|Black+Ops+One|Bungee+Shade|Diplomata|Faster+One|Holtwood+One+SC|Monofett|New+Rocker|Pacifico|Press+Start+2P|Righteous|Sigmar+One" rel="stylesheet">
	<style>

		P {
			color: #FFF;
			font-family: 'Press Start 2P';

		}




		span {

			font-family: 'Press Start 2P';
		}

		button {
		font-family: 'Press Start 2P';
	}



	</style>


</head>

<body style="background-color: #000;">




	<div style="display: inline-block;width: 100%;" >
		<div style="border: 2px double #FFF; float: left; padding: 20px; height: 100%; width: 95%;" >
			<div style="border: 2px double #FFF; margin-bottom: 10px">
				<h3 style="padding: 10px; color: #FFF; font-family: 'Press Start 2P'; text-align: center;"> Mapa Mundial </h3>
			</div>

			<img style="border: 2px double #FFF;" src="https://st2.depositphotos.com/5934840/11563/v/950/depositphotos_115637658-stockillustratie-wereldkaart-met-onderscheid-tussen-land.jpg" width="100%" height="610px" >
			<ul>
				<form action="{% url 'carmen:game' %}" method="post" >
      					{% csrf_token %}
        				<div class="form-group">
          				<input type="hidden"  name="f" value="f" />
						<button type="submit" style=" position:absolute; z-index:1;top:72%;left:88%;width:60px;height:30px;padding:0;margin:-15px 0 0 -30px;border:0 none;font-family: 'Press Start 2P'; color: #000; background: transparent;"><li>Sydney</li> </button>
						</div>
				</form>

			<form action="{% url 'carmen:game' %}" method="post" >
      					{% csrf_token %}
        				<div class="form-group">
          				<input type="hidden"  name="g" value="g" />
			<button type="submit" style="position:absolute; z-index:1;top:59%;left:12.5%;height:30px;padding:0;margin:-15px 0 0 -30px;border:0 none;font-family: 'Press Start 2P'; color: #000; background: transparent;">San Diego <span style="font-size: 20px" >.</span></button>
						</div>
			</form>


				<form action="{% url 'carmen:game' %}" method="post" >
      					{% csrf_token %}
        				<div class="form-group">
          				<input type="hidden"  name="e" value="e" />
						<button  type="submit" style=" position:absolute; z-index:1;top:57%;left:58%;height:30px;padding:0;margin:-15px 0 0 -30px;border:0 none;font-family: 'Press Start 2P'; color: #000; background: transparent;"><li>Atenas</li></button>
						</div>
				</form>

			</ul>


		</div>
		

	</div>

</body>
</html>
